@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: 'Rajdhani', sans-serif;
}





